.background-register {
    display: flex;
    align-items: center;
    height: 100%;
    vertical-align: middle;
    background-image: url('../../assets/register/background.png');
    background-position: initial;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-control.PhoneInput {
    display: flex;
}

input.PhoneInputInput {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent !important;
    background-clip: padding-box;
    border: none !important;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

:focus-visible {
    outline: none !important;
}

.register-page {
    background: #FFFFFFF2;
    box-shadow: 0px 0px 4px 2px #8187AC40;
    padding-top: 35px;
    padding-bottom: 30px;
}

.register-page .row {
    align-items: center;
    justify-content: space-evenly;
}

img.register-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.register-page label {
    font-family: "Sen", sans-serif;
    color: #430303;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 18px;
}

.register-page .input-group {
    height: 55px;
    border: 1px solid #430303;
    border-radius: 5px;
}

.register-page .form-control:focus {
    box-shadow: none !important;
    border-color: transparent !important;
}

.register-page .input-group-text {
    padding: 10px 5px 10px 20px;
    background-color: #FBF8F0;
    border: none;
}

.register-page .form-select:focus {
    box-shadow: none !important;
    border-color: transparent !important;
}

.register-page .form-select {
    padding: 10px 5px 10px 15px;
    background-color: #FBF8F0;
    border: none;
}

.register-page .form-control {
    background-color: #fbf8f0 !important;
    border: none !important;
}

.paras p {
    font-family: "Sen", sans-serif;
    color: #430303;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 18px;
}

.register-page button.submit-button {
    border: none;
    text-transform: capitalize;
    background-color: #E6BD2B;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 100px;
    display: block;
    margin-top: 30px;
    width: max-content;
    text-align: center;
    padding: 12px 60px 12px 60px;
    margin-left: auto;
}

.file-type {
    border: solid #430303 1px;
    height: 60px;
    align-items: center;
    display: flex;
    background: #fbf8f0;
    border-radius: 5px;
    position: relative;
}

img.input-icon {
    height: 25px;
    width: 25px;
    object-fit: contain;
}

::-ms-input-placeholder {
    /* Edge 12-18 */
    color: #430303 !important;
    font-size: 15px;
    font-weight: 400 !important;
}

::placeholder {
    color: #430303 !important;
    font-weight: 400 !important;
    font-size: 15px;
}

.file-input>[type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

.file-input>.button {
    top: 0px;
    cursor: pointer;
    border-radius: 2px;
    position: absolute;
    right: 0px;
    padding: 17.5px 50px;
    border: none;
    background: #430303;
    color: white;
}

.file-input>.label {
    color: #430303 !important;
    font-weight: 400 !important;
    font-size: 15px;
    margin-left: 15px;
}

.file-input.-chosen>.label {
    opacity: 1;
}

.tooltip-inner {
    max-width: 100% !important;
    padding: var(--bs-tooltip-padding-y) var(--bs-tooltip-padding-x);
    color: var(--bs-tooltip-color);
    text-align: center;
    background-color: #FBF8F0 !important;
    border-radius: 5px !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
    /* border: 1px solid #430303; */
}

.custom-tooltip .arrow::before {
    border-bottom-color: white !important;
    /* Changes the arrow color to white */
}