.register-pagess .input-group {
    height: 55px;
    border: 1px solid #430303;
    border-radius: 5px;
}

h1.currentheading {
    font-family: "Sen", sans-serif;
    color: #430303;
    font-weight: 400;
    font-size: 25px;
    margin-top: 35px;
    text-align: center;
    margin-bottom: 38px;
}

.profile-section-full {
    box-shadow: 0px 0px 4px 2px #00000040;
    background: white;
    padding: 30px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.register-pagess .form-control {
    background-color: #fbf8f0 !important;
    border: none !important;
}

.register-pagess label {
    font-family: "Sen", sans-serif;
    color: #430303;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 18px;
}

.register-pagess .input-group-text {
    padding: 10px 5px 10px 20px;
    background-color: #FBF8F0;
    border: none;
}

.progress-container {
    position: relative;
    margin-bottom: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


.progress-line {
    width: 100%;
    position: absolute;
    top: 20px;
    z-index: 99;
    height: 4px;
    background-color: #e0e0e0;
    border-radius: 2px;
}

.progress {
    height: 100%;
    background-color: #430303;
    border-radius: 2px;
}

.steps {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.progress {
    height: 6px !important;
    background: #430303 !important;
}

.step {
    z-index: 111;
    width: 45px;
    height: 45px;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: flex;
    font-family: "Sen", sans-serif;
    justify-content: center;
    align-items: center;
    color: #430303;
    font-size: 14px;
    font-weight: 500;
}

.step.active {
    background-color: #430303;
    color: white;
}

.percentage {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}


button.nextbutton {
    border: none;
    text-transform: capitalize;
    background-color: #E6BD2B;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 100px;
    margin-left: 30px;
    width: max-content;
    text-align: center;
    padding: 10px 80px 10px 80px;
}

button.submit-buttonss {
    border: none;
    text-transform: capitalize;
    background-color: #E6BD2B;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 100px;
    margin-left: 30px;
    width: max-content;
    text-align: center;
    padding: 10px 80px 10px 80px;
}

button.back {
    border: none;
    text-transform: capitalize;
    border: solid 1px #E6BD2B;
    background-color: transparent;
    color: #E6BD2B;
    font-size: 18px;
    font-weight: 600;
    border-radius: 100px;
    width: max-content;
    text-align: center;
    padding: 10px 80px 10px 80px;
}

.form-navigation {
    text-align: right;
    margin-left: 40px;
    margin-right: 40px;
}

ul.declarations {
    margin-top: 40px;
    margin-bottom: 50px;
}

ul.declarations li {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7;
    color: #430303;
    margin-bottom: 10px;
}

.multi-step-form {
    padding-bottom: 50px;
}

a.anchor-header img {
    height: 30px;
    width: 30px;
}

a.anchor-header {
    margin-right: 24px;
    display: flex;
    align-items: center;
}

a.anchor-header span {
    font-family: "Sen", sans-serif;
    color: #430303;
    font-weight: 400;
    margin-left: 10px;
    font-size: 18px;
}

.form-control:focus {
    outline: none !important;
}

.register-pagess .card {
    box-shadow: 0px 0px 4px 2px #00000040;
    background: white;
    padding: 30px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 32px;
    margin-left: 40px;
    margin-right: 40px;
}